body {
	margin: 0;
	padding: 0;
	background: wheat;
}

:root {
  --size-300: clamp(0.7rem, 0.66rem + 0.2vw, 0.8rem);
  --size-400: clamp(0.88rem, 0.83rem + 0.24vw, 1rem);
  --size-500: clamp(1.09rem, 1rem + 0.47vw, 1.33rem);
  --size-600: clamp(1.37rem, 1.21rem + 0.8vw, 1.78rem);
  --size-700: clamp(1.71rem, 1.45rem + 1.29vw, 2.37rem);
  --size-800: clamp(2.14rem, 1.74rem + 1.99vw, 3.16rem);
  --size-900: clamp(2.67rem, 2.07rem + 3vw, 4.21rem);
  --size-1000: clamp(3.34rem, 2.45rem + 4.43vw, 5.61rem);
};

body {
	margin: 0;
	padding: 0;
	background: wheat;
}

.main-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 50px;
}

header {
	grid-template-rows: auto 1fr auto;
	padding: 3vw;
	background-color: burlywood;
}

h1 {
	margin: 0;
	color: brown;
 	text-align: center;
 	font-size: var(--size-900);
}

.main-buttons {
	display: flex;
	justify-content: center;
	gap: 20px;
}

.book p, h3 {
	color: white;
}

.main-buttons button {
 	font-size: var(--size-600);
 	border: none;
 	min-width: 8em;
 	min-height: 2em;

}

.library {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(0, 380px));
	gap: 50px;
	width: 85%;
	justify-content: center;
	margin-inline: auto;
}

.title {
	text-decoration: underline;
	text-align: center;
 	font-size: var(--size-800);
}

.author {
	font-style: italic;
	text-align: center;
 	font-size: var(--size-600);
}

.info {
	display: flex;
	justify-content: space-between;
 	font-size: var(--size-500);
}

.book {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 60px;
	min-height: 350px;
	box-shadow: 10px 5px 5px black;
	border: solid black;
	background-color: #9c5b22;
}

/*BUTTON CSS*/

.bookBtns {
	display: flex;
	justify-content: space-between;
}

.bookBtns button {
 	font-size: var(--size-400);
 	border: none;
}

.btn:active,
.btn:focus {
  outline: none;
}

.btn:hover {
  background-position: -20px -20px;
}

.btn:focus:not(:active){
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}


/*FONTS*/

.forum-regular {
  font-family: "Forum", serif;
  font-weight: 400;
  font-style: normal;
}


/*MODAL*/

#dialog {
/*	display: flex;*/
	padding: 40px;
	border-radius: 10px;
	width: fit-content;
}

#dialog h2 {
	font-size: var(--size-800);
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.textInput {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 1rem;
}

.radio {
	display: flex;
	gap: 20px;
	font-size: 2em;
	margin-top: 0;
}

.radio div {
		display: flex;
		gap: 5px;
}

.modalBtns {
	 	margin-top: 20px;
}

#dialog button {
 	font-size: var(--size-500);
}

#dialog label,  
#dialog input {
	font-size: var(--size-600);
}






